
@{
    ViewData["title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-sm btn-primary m-2"id="btnAddEmployee">Add Employee</button>
    <table class="table table-bordered">
        <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Dep</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="table_data"></tbody>
    </table>
    <div class="madal fade modal"id="EmployeeMadal">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h1 class="text-info modal-title"id="empheader">Add Employee</h1>
                  <button class="close text-danger" data-bs-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form method="post">
                    <div class="form-group"id="empId">
                        <label>Id</label>
                        <input type="text"  class="form-control" id="EmployeeId" disabled="disabled"/>
                    </div>
                      <div class="form-group">
                       <label>Name</label>
                       <input type="text"placeholder="Enter Name"class="form-control"id="txtName"/>
                      </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="Enter Email" class="form-control" id="txtEmail" />
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" placeholder="Enter Mobile" class="form-control" id="txtMobile" />
                    </div>
                    <div class="form-group">
                        <label>Dep</label>
                        <input type="text" placeholder="Enter Dep" class="form-control" id="txtDep" />
                    </div>
                    
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary"onclick="AddEmployee();" id="AddEmployee">Submit</button>
                <button class="btn btn-warning"onclick="UpdateEmployee();"style="display:none"id="btnUpdate">update</button>
                <button type="button" class="btn btn-danger btn-default" data-bs-dismiss="modal">close</button>
              </div>
            </div>
        </div>
    </div>
    <div>
        @* <input type="hidden"id="urlEmployeeData"value="@Url.Action("GetEmployee","Ajax")"/> *@
    </div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/custom.js"></script>